.app-container {
  min-height: 100vh;
  background-color: #f5f5f5;
}
.header {
  background: #2A4CC9;
  height: 150px; 
  width: 100%;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
} 
.main-content {
 margin-top: -148px; 

}
