<section class="countries-card">
  <div class="header-container">
    <header class="countries-header">PAISES DISPONIBLES</header>
  </div>
  <div class="countries-container">
    <ul class="countries-list">
      <li (click)="searchCountry('Argentina')">
        <img src="https://flagcdn.com/w40/ar.png" alt="Argentina" /> Argentina
      </li>
      <li (click)="searchCountry('estadosUnidos')">
        <img src="https://flagcdn.com/w40/us.png" alt="estadosUnidos" /> Estados Unidos
      </li>
      <li (click)="searchCountry('Mexico')">
        <img src="https://flagcdn.com/w40/mx.png" alt="México" /> México
      </li>
    </ul>
  </div>
</section>
