<section class="weather">
  <div class="left-column">
    <div class="card">
      <app-selected-country [country]="countryData"></app-selected-country>
    </div>
    <div class="card">
      <app-tasks></app-tasks>
    </div>
  </div>
  <div class="medium-column">
    <div class="card">
      <app-weather-city [country]="countryData"></app-weather-city>
    </div>

    <div class="card">
      <app-time-zone
        (sendZone)="getWeatherByZone($event)"
        [country]="countryData"
      ></app-time-zone>
    </div>
    <div class="card">
      <app-time [weather]="selectedWeather"></app-time>
    </div>
  </div>

  <div class="right-column">
    <div class="card">
      <app-countries (sendCountry)="getCountry($event)"></app-countries>
    </div>
  </div>
</section>