.users-table {
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  margin: 20px;

}

.table-controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.btn.blue {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn.blue:hover {
  background-color: #0056b3;
}

.filter-input {
  margin-left: auto;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.styled-table thead {
  background-color: #f1f1f1;
}

.styled-table tbody tr:hover {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 8px;
}

.pagination button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button[disabled] {
  color: #999;
  cursor: not-allowed;
}

span{
  cursor:pointer;
}